.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: left;  
    flex: 0 0 50px;
    padding-top: 80px;
    z-index: 99;
}
.footerlink{
    color:  #9e9993!important;
    text-decoration: none!important;
    font-size: 22px!important;
}
.footerlink:hover{
    text-decoration: underline;
    color: #2A5EDF!important;
}
.endfooter{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 40px;
}
.shadow{
    -webkit-box-shadow: -1px 0px 12px 6px rgba(178,178,178,0.57)!important;
    box-shadow: -1px 0px 12px 6px rgba(178,178,178,0.57)!important; 

}
@media only screen and (max-width: 992px) {
    .text{
        font-size: 18px!important;
    }
    .footerlink{
        font-size: 18px!important;
    }
    .footercontentrow{
        padding-top: 10px!important;
    }
}
.companytext{
    font-size: 18px;
}
.text{
    font-size: 22px;
}