.image{
    width: auto;
    max-height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.9%;
    -webkit-box-shadow: -1px 0px 12px 6px rgba(178,178,178,0.57)!important;
    box-shadow: -1px 0px 12px 6px rgba(178,178,178,0.57)!important; 
}
@media only screen and (max-width: 1000px)
{ 
   .image{
    width: auto;
    max-height: 350px;
   }
};