html,body,header.view{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@media only screen and (max-width:1200px){
    .block{
        font-size: 16px;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    .headline{
        font-size: 20px!important;
    }
    .description{
        font-size: 16px!important;
    }
    .rechtliches{
        font-size: 12px!important;
    }
    .button1{
        font-size: 16px!important;
    }
    .innertext{
        font-size: 16px!important;
    }
}
.block{
    font-size: 20px;
    max-height: 600px;
    width: 500px!important;
    margin-left: 5%;
    border-radius: 25px;
    background-color: #e6e6e6de;
    padding-left: 1.5%!important;
    padding-right: 1.5%!important;
    overflow: auto;
    display: grid!important;
}
.block-verlauf{
    max-height: 300px;
    width: 700px!important;
    margin-left: auto!important;
    margin-right: auto!important;
    border-radius: 25px;
    background-color: #e6e6e6de;
    padding-left: 1.5%!important;
    padding-right: 1.5%!important;
    overflow: auto;
    display: grid!important;
}
.button1{
    color: white!important;
    background-color: #2A5EDF!important;
    border: none!important;
    font-size: 20px!important;
    border-radius: 20px!important;
    width: 100%!important;
}
.button1:hover{
    transform: translate(0, -3px);
    -webkit-box-shadow: -1px 0px 12px 6px rgba(158, 158, 158, 0.57)!important;
    box-shadow: -1px 0px 12px 6px rgba(158, 158, 158, 0.57)!important;
}
.headline{
    font-size: 25px;
    font-weight: 500;
}
.description{
    line-height: 45px;
    font-size: 20px;
}
@media only screen and (max-width: 992px) {
    
}
.rechtliches{
    font-size: 14px;
}
::-webkit-scrollbar {
    width: 14px;
} 
::-webkit-scrollbar-thumb {
border: 40px solid rgba(0, 0, 0, 0);
background-clip: padding-box;
border-radius: 9999px;
background-color: #AAAAAA;
}
.innertext{
    font-weight: 700;
    font-size: 20px;
    display: inline-block!important;
}